.player{
    box-sizing: border-box;
    height: 87vh;
    margin-left: auto;
    background: linear-gradient(294deg, #e97070, #101092);
    text-align: center;
    margin-right: auto;
    overflow: hidden;
    width: 500px;
}

label#outlined-basic-label{
    color: #fff !important;
}


input#outlined-basic{
    color: white;
}


.player tr{
    background-image: linear-gradient(162deg, #522525,transparent);
}

.player table{
    border-style: outset;
    border-radius: 5px;
    display: table-header-group;
    margin: 8px;
    box-shadow: 5px 5px 3px 3px darkgrey;
    width: 8rem;
    
}




.player th{
    text-align: center;
    display: block;
    color: white;
    text-transform: uppercase;
    text-decoration-style: dashed;
}

.player td{
    border-style: outset;
    display: flex;
    justify-content: space-between;
    color: white;
    text-align: center;
    text-transform: uppercase;
}

.player p{
    text-align: left;
    padding: 23px;
}

.player audio{
    width: 100%;
    padding: 2px;
}

.player h1{
    color:white;
}