.dictonary{
    box-sizing: border-box;
    height: 59vh;
    margin-left: auto;
    background: linear-gradient(294deg, #e97070, #101092);
    text-align: center;
    /* display: flex; */
    margin-right: auto;
    overflow: hidden;
    width: 500px;
}

.dictonary h1{
    color: white;
}

#dic-container{
    border: 1px solid white;
    margin-top: 1rem;
    overflow: hidden;
    width: 83%;
    margin-left: auto;
    margin-right: auto;
    height: 31vh;
    color: white;
}

.text_p{
    font-size: 13px;
}